body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #955113;
  border: #B59E4B groove 3px;
  width: 95%;
  justify-content: space-evenly;
  padding: 1em;
  min-height: 200px;
  color: #ffffff;
}
body header .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body header .row img {
  width: 400px;
}
body header .row nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  justify-content: space-evenly;
}
body header .row nav a {
  color: #ffffff;
  text-decoration: none;
}
body header h1,
body header h2 {
  margin: 0.5em;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #B59E4B groove 3px;
  width: 95%;
  padding: 1em;
  min-height: 500px;
}
body main .hive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body main .hive button {
  font-size: 2.5em;
  background: #b9a355;
  background: linear-gradient(0deg, #b9a355 35%, #d4c27b 45%, #e6d796 55%, #f5e8ab 65%);
  min-width: 300px;
  padding: 1em 1em 0;
  margin-bottom: -40px;
  vertical-align: bottom;
  min-height: 120px;
  border: none;
  border-bottom: black solid 3px;
}
body main .hive #stack05 {
  padding-top: 1em;
  border-top-left-radius: 500px 250px;
  border-top-right-radius: 500px 250px;
  border-bottom-left-radius: 350px 150px;
  border-bottom-right-radius: 350px 150px;
  z-index: 10;
}
body main .hive #stack04 {
  min-width: 350px;
  z-index: 8;
  border-top-left-radius: 550px 250px;
  border-top-right-radius: 550px 250px;
  border-bottom-left-radius: 350px 150px;
  border-bottom-right-radius: 350px 150px;
}
body main .hive #stack03 {
  min-width: 400px;
  z-index: 6;
  border-top-left-radius: 550px 250px;
  border-top-right-radius: 550px 250px;
  border-bottom-left-radius: 350px 150px;
  border-bottom-right-radius: 350px 150px;
}
body main .hive #stack02 {
  min-width: 450px;
  z-index: 4;
  border-top-left-radius: 550px 250px;
  border-top-right-radius: 550px 250px;
  border-bottom-left-radius: 350px 150px;
  border-bottom-right-radius: 350px 150px;
}
body main .hive #stack01 {
  min-width: 500px;
  border-top-left-radius: 550px 250px;
  border-top-right-radius: 550px 250px;
  border-bottom-left-radius: 350px 150px;
  border-bottom-right-radius: 350px 150px;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #955113;
  border: #B59E4B groove 3px;
  width: 95%;
  padding: 1em;
  min-height: 200px;
}
