/* App.css */

:root {
    --white: #CBE5EC;
    --green: #18AC58;
    --green_shadow: #6e6e6e;
    --light_yellow: #F6E8B7;
    --dark_yellow: rgb(239, 215, 128);
    --header_gradient: linear-gradient(0deg, rgba(239, 215, 128, 1) 42%, rgba(246, 232, 182, 1) 79%);
}

HTML,
body,
  * {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/*                */
/*     Nav Bar    */
/*                */

.navbar {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: var(--dark_yellow);
    background: var(--header_gradient);
    border-bottom: 5px solid var(--green);
    transition: 0.25s;
    box-shadow: 0px 0px 5px var(--green_shadow);
}

.page_title {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 34px;
    text-shadow: 1px 1px 1px var(--green_shadow);
    color: var(--green);
    transition: 0.25s;
}

.page_title img {
    height: 85px;
    transition: 0.25s;
}

.navbar_menu {
    margin: 0 0px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: 0.25s;
}

.navbar_menu, .drop {
    list-style: none;
}

.navbar_menu > li {
    margin: 0 2px;
    text-align: center;
}

.navbar_menu > li a:hover {
    background-color: var(--green_shadow);
    border-left: 1px solid var(--green);
    text-shadow: 1px 1px 1px var(--dark_yellow);

}

.navbar_menu a, .drop li a {
    text-decoration: none;
    color: var(--green);
    text-shadow: 1px 1px 1px var(--green_shadow);
    text-transform: capitalize;
    font-family: monospace;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    font-family: "Raleway", sans-serif;
    pointer-events: none; /* disables hover and click events */
}

.drop li {
    opacity: 0;
    transform-origin: top center;
    width: 125px;
    box-shadow: 1px 1px 5px var(--green_shadow);
}

.drop li a {
    pointer-events: none; /* disables hover and click events */
    width: 121px;
    padding: 10px 2px;
    text-align: center;
    background: var(--dark_yellow);
    background: var(--header_gradient);
}

.drop li a:hover {
    background: var(--green_shadow);
    
}

.navbar_menu li:hover .menu li:first-of-type {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.1s;
    border: 2px solid var(--green);
}

.navbar_menu li:hover .menu li:nth-of-type(2) {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.2s;
    border: 2px solid var(--green);
}

.navbar_menu li:hover .menu li:nth-of-type(3) {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.3s;
    border: 2px solid var(--green);
}

.navbar_menu li:hover .menu li:last-of-type {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.4s;
    border: 2px solid var(--green);
}

/* add additional styles for hover and click */
.navbar_menu:hover > li > a,
.navbar_menu:hover .drop li a {
    pointer-events: auto; /* enables hover and click events */
}

@keyframes menu_inner {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0);
    }
}

@media screen and (max-width: 650px) {
    .navbar {
        height: 95px;
    }
    .page_title {
        font-size: 28px;
    }
    .page_title img {
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        height: 95px;
    }
    .page_title {
        font-size: 24px;
    }
    .navbar_menu {
        justify-content: center;
    }
    .page_title img {
        height: 60px;
    }
}

@media screen and (max-width: 430px) {
    .navbar {
        height: 85px;
    }
    .page_title {
        font-size: 22px;
    }

    .page_title img {
        height: 50px;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        height: 85px;
    }
    .page_title {
        font-size: 18px;
    }
    .page_title img {
        height: 50px;
    }
    .navbar_menu a {
        font-size: 14px;
    }
    .drop li {
        width: 104px;
    }
    .drop li a {
        width: 100px;
        font-size: 14px;
    }
}

@media screen and (max-width: 335px) {
    .navbar {
        height: 67px;
    }
    .page_title {
        font-size: 14px;
    }
    .page_title img {
        height: 35px;
    }
    .navbar_menu a {
        font-size: 12px;
    }
    .drop li {
        width: 84px;
    }
    .drop li a {
        width: 80px;
        font-size: 12px;
    }
}